<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/addtodo" method="post">
        <h1>Todo</h1>
        <input name="title" type="text" placeholder="Title">
        <input name="description" type="text" placeholder="Description">
        <button>Add todo</button>
    </form>
    <ul>
        <% todo.forEach((task, index) => { %>
           <li>
              <%= task.title %>
              <%= task.description %>

              <form action="/todo/delete" method="post">
                <input name="id" value="<%= task._id %>" type="text" hidden>
                <button>Delete</button>
              </form>
              <form action="/edit/<%= task._id %>" method="get">
                <button>Edit</button>
              </form>
           </li>
           
        <% }) %>
    </ul>
    
</body>
</html>